# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Variables y secretos
.env
.env.*
.streamlit/secrets.toml
secrets.toml

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Archivos temporales
*.log
*.tmp
